 @font-face {
    font-family: 'Digital-7';
    font-style: normal;
    src: url('/fonts/digital7mono.ttf') format('truetype');
  }

 .digital {
    font-family: 'Digital-7';
    font-size: 12em;
    font-weight: 100;
    color: rgb(114,186,218);
  }

  .Countdown {
    z-index: 200;
  }